In [1]:
%load_ext sql

In [2]:
%sql postgresql://student:student@127.0.0.1/sparkifydb

'Connected: student@sparkifydb'

In [3]:
%sql SELECT DISTINCT song_id FROM SONG_PLAY_TBL

 * postgresql://student:***@127.0.0.1/sparkifydb
2 rows affected.

[(None,), ('SOZCTXZ12AB0182364',)]

In [4]:
%sql SELECT * FROM SONG_PLAY_TBL LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1542277216796, 324, None, None, 30, 'paid', 'San Jose-Sunnyvale-Santa Clara, CA', 'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:31.0) Gecko/20100101 Firefox/31.0', 'Logged In', datetime.datetime(2020, 2, 23, 13, 29, 19, 613184)),
 (1541416721796, 222, None, None, 95, 'paid', 'Winston-Salem, NC', '"Mozilla/5.0 (iPhone; CPU iPhone OS 7_1_2 like Mac OS X) AppleWebKit/537.51.2 (KHTML, like Gecko) Version/7.0 Mobile/11D257 Safari/9537.53"', 'Logged In', datetime.datetime(2020, 2, 23, 13, 29, 19, 613184)),
 (1543071651796, 692, None, None, 73, 'paid', 'Tampa-St. Petersburg-Clearwater, FL', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.78.2 (KHTML, like Gecko) Version/7.0.6 Safari/537.78.2"', 'Logged In', datetime.datetime(2020, 2, 23, 13, 29, 19, 613184)),
 (1543422764796, 1013, None, None, 58, 'paid', 'Augusta-Richmond County, GA-SC', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"', 'Logged In', datetime.datetime(2020, 2, 23, 13, 29, 19, 613184)),
 (1541841910796, 350, None, None, 44, 'paid', 'Waterloo-Cedar Falls, IA', 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:31.0) Gecko/20100101 Firefox/31.0', 'Logged In', datetime.datetime(2020, 2, 23, 13, 29, 19, 613184))]

In [5]:
%sql SELECT * FROM TEMP_SONG_PLAY_TBL LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1541106106796, 139, "Des'ree", 'You Gotta Be', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 246.30812),
 (1541106352796, 139, 'Mr Oizo', 'Flat 55', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 144.03873),
 (1541106496796, 139, 'Tamba Trio', 'Quem Quiser Encontrar O Amor', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 177.18812),
 (1541106673796, 139, 'The Mars Volta', 'Eriatarka', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 380.42077),
 (1541107053796, 139, 'Infected Mushroom', 'Becoming Insane', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 440.2673)]

In [6]:
%sql SELECT * FROM USER_TBL ORDER BY user_id LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(2, 'Jizelle', 'Benjamin', 'F', 'free'),
 (3, 'Isaac', 'Valdez', 'M', 'free'),
 (4, 'Alivia', 'Terrell', 'F', 'free'),
 (5, 'Elijah', 'Davis', 'M', 'free'),
 (6, 'Cecilia', 'Owens', 'F', 'free')]

In [7]:
%sql SELECT * FROM SONG_TBL LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('SOMZWCG12A8C13C480', "I Didn't Mean To", 'ARD7TVE1187B99BFB1', -9999, 218.93179),
 ('SOCIWDW12A8C13D406', 'Soul Deep', 'ARMJAGH1187FB546F3', 1969, 148.03546),
 ('SOXVLOJ12AB0189215', 'Amor De Cabaret', 'ARKRRTF1187B9984DA', -9999, 177.47546),
 ('SONHOTT12A8C13493C', 'Something Girls', 'AR7G5I41187FB4CE6C', 1982, 233.40363),
 ('SOFSOCN12A8C143F5D', 'Face the Ashes', 'ARXR32B1187FB57099', 2007, 209.60608)]

In [8]:
%sql SELECT * FROM ARTIST_TBL LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[('ARMJAGH1187FB546F3', 'The Box Tops', 'Memphis, TN', 35, -90),
 ('ARKRRTF1187B9984DA', 'Sonora Santanera', 'Unknown', -9999, -9999),
 ('AR7G5I41187FB4CE6C', 'Adam Ant', 'London, England', -9999, -9999),
 ('ARXR32B1187FB57099', 'Gob', 'Unknown', -9999, -9999),
 ('ARKFYS91187B98E58F', 'Jeff And Sheri Easter', 'Unknown', -9999, -9999)]

In [9]:
%sql SELECT * FROM TIME_TBL LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(1541105830796, datetime.datetime(2018, 11, 1, 20, 57, 10, 796000), 2018, 11, 1, 20, 57, 'Thursday'),
 (1541106106796, datetime.datetime(2018, 11, 1, 21, 1, 46, 796000), 2018, 11, 1, 21, 1, 'Thursday'),
 (1541106132796, datetime.datetime(2018, 11, 1, 21, 2, 12, 796000), 2018, 11, 1, 21, 2, 'Thursday'),
 (1541106352796, datetime.datetime(2018, 11, 1, 21, 5, 52, 796000), 2018, 11, 1, 21, 5, 'Thursday'),
 (1541106496796, datetime.datetime(2018, 11, 1, 21, 8, 16, 796000), 2018, 11, 1, 21, 8, 'Thursday')]

In [3]:
%sql SELECT COUNT(*) FROM SONG_PLAY_TBL;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6820,)]

In [4]:
%sql SELECT COUNT(*) FROM TEMP_SONG_PLAY_TBL;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6831,)]

Checking the difference between the Temp and the Main Play Song Tables

In [12]:
%%sql 
SELECT * FROM TEMP_SONG_PLAY_TBL
WHERE (unix_ts,session_id) IN
(
SELECT unix_ts,session_id FROM TEMP_SONG_PLAY_TBL GROUP BY unix_ts,session_id HAVING COUNT(*) > 1
) ORDER BY unix_ts,session_id;

 * postgresql://student:***@127.0.0.1/sparkifydb
22 rows affected.

[(1541106106796, 139, "Des'ree", 'You Gotta Be', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 246.30812),
 (1541106106796, 139, "Des'ree", 'You Gotta Be', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 246.30812),
 (1541106352796, 139, 'Mr Oizo', 'Flat 55', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 144.03873),
 (1541106352796, 139, 'Mr Oizo', 'Flat 55', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 144.03873),
 (1541106496796, 139, 'Tamba Trio', 'Quem Quiser Encontrar O Amor', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 177.18812),
 (1541106496796, 139, 'Tamba Trio', 'Quem Quiser Encontrar O Amor', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 177.18812),
 (1541106673796, 139, 'The Mars Volta', 'Eriatarka', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 380.42077),
 (1541106673796, 139, 'The Mars Volta', 'Eriatarka', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 380.42077),
 (1541107053796, 139, 'Infected Mushroom', 'Becoming Insane', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 440.2673),
 (1541107053796, 139, 'Infected Mushroom', 'Becoming Insane', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 440.2673),
 (1541107493796, 139, 'Blue October / Imogen Heap', 'Congratulations', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 241.3971),
 (1541107493796, 139, 'Blue October / Imogen Heap', 'Congratulations', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 241.3971),
 (1541107734796, 139, 'Girl Talk', 'Once again', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 160.15628),
 (1541107734796, 139, 'Girl Talk', 'Once again', 8, 'free', 'Phoenix-Mesa-Scottsdale, AZ', '"Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.153 Safari/537.36"', 'Logged In', 160.15628),
 (1541108520796, 9, 'Black Eyed Peas', 'Pump It', 10, 'free', 'Washington-Arlington-Alexandria, DC-VA-MD-WV', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 'Logged In', 214.93506),
 (1541108520796, 9, 'Black Eyed Peas', 'Pump It', 10, 'free', 'Washington-Arlington-Alexandria, DC-VA-MD-WV', '"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4"', 'Logged In', 214.93506),
 (1541109125796, 169, 'Fall Out Boy', 'Nobody Puts Baby In The Corner', 26, 'free', 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 'Logged In', 200.72444),
 (1541109125796, 169, 'Fall Out Boy', 'Nobody Puts Baby In The Corner', 26, 'free', 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 'Logged In', 200.72444),
 (1541109325796, 169, 'M.I.A.', 'Mango Pickle Down River (With The Wilcannia Mob)', 26, 'free', 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 'Logged In', 233.7171),
 (1541109325796, 169, 'M.I.A.', 'Mango Pickle Down River (With The Wilcannia Mob)', 26, 'free', 'San Jose-Sunnyvale-Santa Clara, CA', '"Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/36.0.1985.125 Chrome/36.0.1985.125 Safari/537.36"', 'Logged In', 233.7171),
 (1541110994796, 100, 'Survivor', 'Eye Of The Tiger', 101, 'free', 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 'Logged In', 245.36771),
 (1541110994796, 100, 'Survivor', 'Eye Of The Tiger', 101, 'free', 'New Orleans-Metairie, LA', '"Mozilla/5.0 (Windows NT 6.3; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.143 Safari/537.36"', 'Logged In', 245.36771)]

In [5]:
%sql SELECT COUNT(*) FROM USER_TBL;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(97,)]

In [6]:
%sql SELECT COUNT(*) FROM SONG_TBL;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(71,)]

In [7]:
%sql SELECT COUNT(*) FROM ARTIST_TBL;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(69,)]

In [15]:
%sql SELECT COUNT(*) FROM TIME_TBL;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(8023,)]

In [17]:
%%sql 
#DROP TABLE SONG_PLAY_TBL;

 * postgresql://student:***@127.0.0.1/sparkifydb
(psycopg2.ProgrammingError) syntax error at or near "#"
LINE 1: #DROP TABLE SONG_PLAY_TBL;
        ^
 [SQL: '#DROP TABLE SONG_PLAY_TBL;']

In [18]:
%%sql
SELECT COUNT(*) FROM
(
SELECT 
DISTINCT_TEMP_DATA.UNIX_TS
,DISTINCT_TEMP_DATA.SESSION_ID
,ARTIST_TBL.ARTIST_ID
,SONG_TBL.SONG_ID
,DISTINCT_TEMP_DATA.USER_ID
,DISTINCT_TEMP_DATA.LEVEL
,DISTINCT_TEMP_DATA.USER_LOCATION
,DISTINCT_TEMP_DATA.USER_AGENT
,DISTINCT_TEMP_DATA.USER_LOGGED
FROM 
(
    SELECT DISTINCT unix_ts,session_id,artist_name,song_title,user_id,level,USER_LOCATION,user_agent,user_logged FROM TEMP_SONG_PLAY_TBL
) AS DISTINCT_TEMP_DATA
LEFT OUTER JOIN SONG_TBL
ON DISTINCT_TEMP_DATA.song_title = SONG_TBL.TITLE
LEFT JOIN ARTIST_TBL
ON DISTINCT_TEMP_DATA.artist_name = ARTIST_TBL.NAME
)AS A;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[(6820,)]

In [19]:
%%sql
SELECT UNIX_TS,SESSION_ID,COUNT(*)
FROM
(
SELECT 
DISTINCT_TEMP_DATA.UNIX_TS
,DISTINCT_TEMP_DATA.SESSION_ID
,ARTIST_TBL.ARTIST_ID
,SONG_TBL.SONG_ID
,DISTINCT_TEMP_DATA.USER_ID
,DISTINCT_TEMP_DATA.LEVEL
,DISTINCT_TEMP_DATA.USER_LOCATION
,DISTINCT_TEMP_DATA.USER_AGENT
,DISTINCT_TEMP_DATA.USER_LOGGED
FROM 
(
    SELECT DISTINCT unix_ts,session_id,artist_name,song_title,user_id,level,USER_LOCATION,user_agent,user_logged FROM TEMP_SONG_PLAY_TBL
) AS DISTINCT_TEMP_DATA
LEFT OUTER JOIN SONG_TBL
ON DISTINCT_TEMP_DATA.song_title = SONG_TBL.TITLE
LEFT JOIN ARTIST_TBL
ON DISTINCT_TEMP_DATA.artist_name = ARTIST_TBL.NAME
) AS A GROUP BY UNIX_TS,SESSION_ID
HAVING COUNT(*) > 1

 * postgresql://student:***@127.0.0.1/sparkifydb
0 rows affected.

[]

%%sql
SELECT DISTINCT unix_ts,session_id,artist_name,song_title,user_id,level,USER_LOCATION,user_agent,user_logged FROM TEMP_SONG_PLAY_TBL
WHERE (unix_ts,session_id) IN 
(
SELECT UNIX_TS,SESSION_ID
FROM
(
SELECT 
DISTINCT_TEMP_DATA.UNIX_TS
,DISTINCT_TEMP_DATA.SESSION_ID
,ARTIST_TBL.ARTIST_ID
,SONG_TBL.SONG_ID
,DISTINCT_TEMP_DATA.USER_ID
,DISTINCT_TEMP_DATA.LEVEL
,DISTINCT_TEMP_DATA.USER_LOCATION
,DISTINCT_TEMP_DATA.USER_AGENT
,DISTINCT_TEMP_DATA.USER_LOGGED
FROM 
(
    SELECT DISTINCT unix_ts,session_id,artist_name,song_title,user_id,level,USER_LOCATION,user_agent,user_logged FROM TEMP_SONG_PLAY_TBL
) AS DISTINCT_TEMP_DATA
LEFT OUTER JOIN SONG_TBL
ON DISTINCT_TEMP_DATA.song_title = SONG_TBL.TITLE
LEFT JOIN ARTIST_TBL
ON DISTINCT_TEMP_DATA.artist_name = ARTIST_TBL.NAME
) AS A GROUP BY UNIX_TS,SESSION_ID
HAVING COUNT(*) > 1
) ORDER BY 1,2